@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.card {
    background-color: #222222;
    border-style:none ;
    width: 300px; 
    margin: 10px; 
    float: left;
    border-radius: 12px;
    border: none;
    margin: 20px;
    padding: 10px;
}
.titulo{
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;

}
.card-title {
    font-family: 'Roboto Slab', serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

p .mtbom{
    color: greenyellow;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.descricao {
    color: #bbbbbb;
    margin-top: 10px;
}

.voltar {
    position: absolute;
    top: 50px;
    left: 30px;
}

input{
    background-color: rgb(219, 52, 75) ;
    font-family: 'Roboto Slab', serif;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 140px;
    box-shadow: none;
    border-style: none;
    border-radius: 10px;
}